/* Custom Color Nickname + official Profile v1 */
.userPopout-xaxa6l[data-user-id="271920603668152321"] .profileBadges-3cJaE1::before {
    content: "";
    position: relative;
    width: 20px;
    height: 17px;
    margin: 0 6px;
    pointer-events: none;
    background: url("https://cdn.discordapp.com/emojis/811010999061708830.gif?v=1") center/100% no-repeat;
}

.member-3-YXUe .wrapper-3t9DeA[data-user-id="271920603668152321"]::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 14px;
    bottom: -3px;
    left: -5px;
    z-index: 2;
    background: url("https://cdn.discordapp.com/emojis/811010999061708830.gif?v=1") no-repeat;
    background-size: 85%;
    background-position: bottom left;
    background-color: var(--background-secondary);
    border-radius: 0 5px 0 0;
    pointer-events: none;
}

.message-2qnXI6[data-user-id="271920603668152321"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="271920603668152321"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="271920603668152321"] .username-1A8OIy,
.channel-2QD9_O[data-user-id="271920603668152321"] .overflow-WK9Ogt,
.channel-2QD9_O[vz-user-id="271920603668152321"] .overflow-WK9Ogt,
.member-3-YXUe[data-user-id="271920603668152321"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="271920603668152321"] .roleColor-rz2vM0,
.userPopout-xaxa6l[data-user-id="271920603668152321"] .username-2b1r56,
.userPopout-xaxa6l[vz-user-id="271920603668152321"] .username-2b1r56,
.root-3QyAh1[data-user-id="271920603668152321"] .username-2b1r56 {
    color: transparent !important;
    font-weight: bold;
    background-size: 300%;
    animation: shine 10s linear infinite;
    -webkit-background-clip: text;
}

@keyframes shine {
    to {
        background-position: 300% center;
    }
}

.message-2qnXI6[data-user-id="271920603668152321"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[data-author-id="271920603668152321"] > :not(.repliedMessage-VokQwo) .username-1A8OIy,
.message-2qnXI6[vz-user-id="271920603668152321"] .username-1A8OIy,
.member-3-YXUe[data-user-id="271920603668152321"] .roleColor-rz2vM0,
.member-3-YXUe[vz-user-id="271920603668152321"] .roleColor-rz2vM0,
.root-3QyAh1[data-user-id="271920603668152321"] .username-2b1r56 {
    background-image: linear-gradient(-60deg, #FDC7C5 0%, #FEC4DF 10%, #EFC8F3 20%, #D2D0FC 30%, #B0DAF6 40%, #9AE1E3 50%, #9FE2C9 60%, #B8DFB2 70%, #D6D8A7 80%, #EFCFAF 90%, #FDC7C5 100%);
}