:root {
  --status-background: #131313;
  --user-buttons-color: #5d5d5d;
  --chat-buttons: #5d5d5d;
  --role-circle: 8px;
  --tooltips: none;
}

/*Servers Animation*/
.wrapper-3NnKdC {
    opacity: 0;
    transition: opacity 200ms ease;
}
.wrapper-3NnKdC:hover {
    opacity: 1;
}
.wrapper-3NnKdC {
    width: 3px;
    min-width: 2px;
    transition-property: width, min-width;
    transition: 800ms;
}
.wrapper-3NnKdC:hover{
  width: 70px;
  min-width: 68px;
}


/*main colors*/

.theme-dark {
    --background-tertiary: #131313;
    --background-secondary: #1d1d1d;
    --background-secondary-alt: #131313;
    --background-primary: #1d1d1d;
    --background-mobile-primary: #1d1d1d;
    --background-mobile-secondary: #131313;
    --channeltextarea-background: #131313;
    --background-accent: #5d5d5d;
    --background-modifier-hover: #2d2d2d;
    --background-modifier-active: #2d2d2d;
    --background-modifier-selected: #2d2d2d;
    --deprecated-card-bg: #131313;
    --background-floating: #1d1d1d;
    --deprecated-quickswitcher-input-background:#1d1d1d;
    --activity-card-background: #1d1d1d;
}
 
/*connected accounts in profile*/

.connectedAccount-36nQx7 {
  border: solid #1d1d1d;
}

/*friends window backgroud*/

#app-mount .container-1D34oG {
    background: #1d1d1d;
}

/*header playing*/

.headerPlaying-j0WQBV .lookOutlined-3sRXeN.colorWhite-rEQuAQ {
  background-color: #2d2d2d;
  box-shadow: 0px 4px 15px #1d1d1d;
  color: #ffffff;
}

.headerPlaying-j0WQBV .activityUserPopout-2yItg2 {
  background: #1d1d1d;
  box-shadow: 0px 4px 0px #1d1d1d;
}

.headerPlaying-j0WQBV .lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover { 
  background-color: #5d5d5d;
}

/*header spotify*/

.headerSpotify-zpWxgT
  .buttonsWrapper-2spIeK
  .lookOutlined-3sRXeN.colorWhite-rEQuAQ {
  background-color: #2d2d2d;
  box-shadow: 0 4px 15px #1d1d1d; 
  color: #ffffff;
}

.headerSpotify-zpWxgT .activityUserPopout-2yItg2 {
  background: #1d1d1d;
  box-shadow: 0px 4px 0px #1d1d1d;
}

.headerSpotify-zpWxgT .buttonsWrapper-2spIeK .lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover { 
  background-color: #5d5d5d;
}

/*header streaming*/

.headerStreaming-2FjmGz  .buttonsWrapper-2spIeK
  .lookOutlined-3sRXeN.colorWhite-rEQuAQ {
  background-color: #2d2d2d;
  box-shadow: 0 4px 15px #1d1d1d; 
  color: #ffffff;
}

.headerStreaming-2FjmGz .activityUserPopout-2yItg2 {
  background: #1d1d1d;
  box-shadow: 0px 4px 0px #1d1d1d;
}

.headerStreaming-2FjmGz .lookOutlined-3sRXeN.colorWhite-rEQuAQ:hover { 
  background-color: #5d5d5d;
}

/*top section normal*/

.topSectionNormal-2-vo2m .actionButton-3W1xZa {
  background: #2d2d2d !important;
}

/*top section playing*/

.topSectionPlaying-1J5E4n .activityProfile-2bJRaP {
  background: #1d1d1d;
  box-shadow: 0px 4px 0px #1d1d1d;
}

.topSectionPlaying-1J5E4n .actionButton-3W1xZa {
  color: #ffffff;
  background: #2d2d2d !important;
}

.topSectionPlaying-1J5E4n .actionsProfile-jEtjVX .button-2IFFQ4 {
  background-color: #2d2d2d;
  box-shadow: 0px 4px 15px #1d1d1d;
  color: #ffffff;
}

.topSectionPlaying-1J5E4n .actionsProfile-jEtjVX .button-2IFFQ4:hover { 
  background-color: #5d5d5d;
}

/*top section spotify*/

.topSectionSpotify-1lI0-P .activityProfile-2bJRaP {
  background: #1d1d1d;
  box-shadow: 0px 4px 0px #1d1d1d;
}

.topSectionSpotify-1lI0-P .actionButton-3W1xZa {
  color: #ffffff;
  background: #2d2d2d !important;
}

.topSectionSpotify-1lI0-P .actionsProfile-jEtjVX .button-2IFFQ4 {
  background-color: #2d2d2d;
  box-shadow: 0px 4px 15px #1d1d1d;
  color: #ffffff;
}

.topSectionSpotify-1lI0-P .actionsProfile-jEtjVX .button-2IFFQ4:hover { 
  background-color: #5d5d5d;
}

/*top section streaming*/

.topSectionStreaming-1Tpf5X .activityProfile-2bJRaP {
  background: #1d1d1d;
  box-shadow: 0px 4px 0px #1d1d1d;
}

.topSectionStreaming-1Tpf5X .header-QKLPzZ .button-38aScr {
  color: #ffffff;
  background: #2d2d2d !important;
}

.topSectionStreaming-1Tpf5X .actionsProfile-jEtjVX .button-2IFFQ4 {
  background-color: #2d2d2d;
  box-shadow: 0px 4px 15px #1d1d1d;
  color: #ffffff;
}

.topSectionStreaming-1Tpf5X .actionsProfile-jEtjVX .button-2IFFQ4:hover { 
  background-color: #5d5d5d;
}

/*for selected in that scroll list for pings in chat*/

.theme-dark .selected-1Tbx07 {
  background: #2d2d2d;
}
custom.css
5 кб
