/* Minimal Server List Code */
.wrapper-3NnKdC {
    opacity: 0;
    transition: opacity 200ms ease;
}
.wrapper-3NnKdC:hover {
    opacity: 1;
}
.wrapper-3NnKdC {
    width: 3px;
    min-width: 2px;
    transition-property: width, min-width;
    transition: 200ms ease;
}
.wrapper-3NnKdC:hover{
  width: 70px;
  min-width: 68px;
}
