.members-1998pB,
.membersWrap-2h-GB4,
.searchResultsWrap-3-pOjs {
    border-radius: 0 0 0 0 !important;
    width: 60px;
    min-width: 60px;
    transition-property: width, min-width;
    transition-duration: 800ms;
}

.members-1998pB:hover,
.membersWrap-2h-GB4:hover {
    width: 240px;
    min-width: 240px;
}
